body {
    background: rgb(43,45,66);
background: linear-gradient(90deg, rgba(43,45,66,1) 0%, rgba(27,28,38,1) 70%, rgba(0,0,0,1) 100%);
}

.card {
    padding: 0px 50px 50px 50px;
    background-color: #e4e3e3;
    width: 500px; 
    height: 650px;
    margin-top: 8rem;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border-radius: 10px;
}


.container-fluid {
    justify-content: center;
    align-items: center;
}

.card h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: #2b2d42;
}

.form-control {
    border-radius: 20px;
    width: 23rem;
}

label {
    padding-left: 11px;
}

input {
    box-shadow: 0px 5px 10px rgb(158, 158, 158);
}

button {
    width: 170px;
    border-radius: 10px;
    
}
