<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/About-usPage-style.css">
    <title>About Us</title>
</head>

<body>
    <%- include('header')-%>

        <div class="row pageheigh">

            <div class="col container-fluid px-5">
                <P class="maintext">our servis provide your with the data you need for your reserach, project,markting,
                    and
                    much more</P>
                <br>
                <div>
                    <a href="/Sign-upPage"><button type="button" class="button1">Join</button></a>
                </div>
            </div>


            <div class="col">
                <div>
                    <div class="imag-containe">
                        <img src="Assets\image\demographic-survey-1.webp" alt="Welcome image">
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <%- include('footer')-%>
</body>

</html>