<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/Articles-style.css">
</head>
<body>
    <!-- header -->
<%- include('header')-%>
<div class="container">
    <div class="row">
        <div class="col-md-9 offset-md-2">
            <form action="/api/article/store" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="articleName">Article Name: </label>
                    <input type="text" name="articleName" id="articleName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="articleDescription">Article Description: </label>
                    <textarea name="articleDescription" id="articleDescription" cols="30" rows="2" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="articleBody">Article Body: </label>
                    <textarea name="articleBody" id="articleBody" cols="30" rows="4" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="articleImg">Article Image: </label>
                    <input type="file"  name="articleImg" class="form-control" required><br>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- footer -->
<%- include('footer')-%>
</body>
</html>