<footer class="footer font">
        <div class="row">
            <div class="col ">
                <ul class="nav justify-content-left">
                    <li class="nav-item"><a class="nav-link font" href="/">Public Blog</a></li>
                </ul>
            </div>

            <div class="col">
                <ul class="nav justify-content-center">
                    <p class="footertext">To contact us send us an email at: <a class="footertext"
                            href="mailto: xyz@gmail.com">xyz@gmail.com</a></p>

                </ul>
            </div>

            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <form action="#" method="POST">
                            <div class="row">
                                <div class="form-group col justify-content-left">
                                        <input type="text" class="form-control footertextbox"
                                            id="formGroupExampleInput" placeholder="join the newsletter">
                                </div>
                                <div class="form-group col justify-content-end">
                                    <button type="submit" value="submit" class="newsletternbutton">submit</button>
                                </div>
                            </div>
                        </from>
                    </li>
                </ul>
            </div>
        </div>
</footer>

