<header class="font">
    <div class="row">
        <div class="col ">
            <ul class="nav justify-content-left">
                <li class="nav-item"><a class="nav-link font" href="/">Public Blog</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link active font" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active font" href="/Articles-page">Articles</a></li>
                <li class="nav-item"><a class="nav-link active font" href="/About-usPage">About us</a>
                <li class="nav-item"><a class="nav-link active font" href="/ArticleMaker-page" >Make New Article</a></li>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link active font" href="/LoginPage">Login</a></li>
            </ul>
        </div>
    </div>
</header>