<!DOCTYPE html>
<html lang="en">

<head>
    <title>Survey Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/survey-style.css">
</head>

<body>
    <!-- header -->
    <%- include('header')-%>

        <div class="row">
            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About Survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>

            <div class="col" align="center">
                <div class="surveyBox">
                    <div class="surveyImage">
                        <img src="Assets/image/1.jpg" alt="survey image">
                    </div>
                    <p>About survey </p>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                    <button onclick="window.location.href = '/Survey-One' "
                        class="participateButton">Participate</button>
                </div>
            </div>
        </div>
        <!-- footer -->
        <%- include('footer')-%>
</body>

</html>